body ,div,p,h1,h4{
    margin: 0;
}

h5 {
    color: white;
    padding-left: 95rem;
    word-spacing:1.5rem;
}

/* h2, 
h3 {
    text-decoration: underline;
    text-decoration-color:rgba(159, 47, 255, 1); 
    font-size:2rem

}        */

.snc-titre__text {
    text-decoration: underline;
    text-decoration-color:rgba(159, 47, 255, 1); 
    font-size:2rem;
    text-transform: uppercase;
}

h4 {
    color: blue;
    margin: left
} 

header {
    display: flex;
    background: rgba(61, 61, 61, 1);
    width:100%;
    height:5rem;
   justify-content: space-between;
   align-items: center;

}

footer {
    background: rgba(61, 61, 61, 1);
}

nav a {
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    height: 2.2 rem; /* hauteur */
    line-height: 2rem;  /* interligne */
    padding: 0 0.6rem; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 0.9rem; /* taille du texte */
}

nav a:hover{
    background:linear-gradient(90deg, #0BB1D3 0%, #5173E8 45.54%, #9F2FFF 100%);
    padding: 1rem;
}

.nav__link {
    margin-right: 1.5rem;
}

.titre-principal {
    color:white;
    margin-left: 6.5rem;
}

.logo-haut {
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.snc-titre {
    margin-right: 1rem;
    color: rgb(158, 23, 23)
    text-decoration: underline;
    text-decoration-color:rgba(159, 47, 255, 1);        
}       
    /*texte avec les 3 photos*/



.box{
    display: flex;
    justify-content: space-around;
}


 

 .image_bas{
    text-align: end;
 }

.background_video {
    background: linear-gradient(90deg, #0BB1D3 0%, #5173E8 45.54%, #9F2FFF 100%);
    margin: 1rem auto 2 auto;
    padding: 1rem;
}

.iframe {
    margin: auto;
    width: 100%
}

.texte{
    margin-bottom: 1rem;
}

.wrapper {
    margin: 0 1rem;
}

.tableau {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
      }
      
      caption {
        caption-side: bottom;
        padding: 10px;
        font-weight: bold;
      }
      
      thead,
      tfoot {
        background-color: rgb(33, 153, 204);
      }
      
      th,
      td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
      }
      
      td:last-of-type {
        text-align: center;
      }
      
      tbody > tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
      }
      
      tfoot th {
        text-align: right;
      }
      
      tfoot td {
        font-weight: bold;
      }