.titre-principal {
    
    color:white;
    margin-left: 6.5rem;
    
    
}
body ,div,p,h1,h4{
    margin: 0;
}

h5 {
    color: white;
    padding-left: 95rem;
    word-spacing:1.5rem;
}



.logo-haut {
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

h2 , 
h3 {
    text-decoration: underline;
    text-decoration-color:rgba(159, 47, 255, 1); 
    font-size:2rem

}       

header {
    display: flex;
    background: rgba(61, 61, 61, 1);
    width:100%;
    height:5rem;
   justify-content: space-between;
   align-items: center;

}



.snc-titre {
    margin-right: 1rem;
    color: rgb(158, 23, 23)
    text-decoration: underline;
    text-decoration-color:rgba(159, 47, 255, 1);        
}       
    /*texte avec les 3 photos*/

h4 {
    color: blue;
    margin: left
} 

.box{
    display: flex;
    justify-content: flex-start

}

footer {
    background: rgba(61, 61, 61, 1);
}
 

 .image_bas{
    text-align: end;
 }

.background_video {
    background:linear-gradient(90deg, #0BB1D3 0%, #5173E8 45.54%, #9F2FFF 100%);
    
    margin :1rem auto 2 auto;
    
}

.iframe{
    margin: auto;
    width: 100%
}

.texte{
    text-align: justify;
}

nav   a{
    
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    height: 2.2 rem; /* hauteur */
    line-height: 2rem;  /* interligne */
    padding: 0 0.6rem; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 0.9rem; /* taille du texte */
    }
    nav   a:hover{
    background:linear-gradient(90deg, #0BB1D3 0%, #5173E8 45.54%, #9F2FFF 100%);
    }